@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;

}

.game {
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translate(-50%);
    width: 650px;
    height: 600px;
    background: rgb(61, 138, 254);
    border: 2.5px solid black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.441);
    padding: 1.5rem;
    border-radius: 15px;

}

.slot {
    width: 90px;
    height: 90px;
    background: white;
    border: 2.5px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: ease-in 0.5s;

}

h1 {
    margin-top: 25px;
    text-align: center;
    font-size: 48px;



}

.reset {
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.441);
    font-size: 30px;
    margin-bottom: 20px;
}

.reset:hover {
    background-color: red;
    color: white;
}

.play {
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    padding: 15px 33px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.441);
    font-size: 30px;

}

.play:hover {
    background-color: green;
    color: white;
}


.player-turn {
    font-size: 40px;
    top: 30vh;
    left: 2%;
    position: absolute;
    transition: ease-in 0.5s;
}